@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root{
--black: #1C1C1C;
--grey: #5C5C5C; 
--white:#F0F0F0;
--dark-grey:rgba(255, 255, 255, 0.20);
}


*,*::before,*::after {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
   
    

}

body{ 
    font-family: 'Work Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--grey);
    overflow-x: hidden;
    background-color: var(--white);

    



} 
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-weight: 700;
    line-height: 1.2;

    text-transform: uppercase;
    color: var(--black);
    


}

h1,.h1{
    font-size:clamp(7rem,5vw, 9rem);

}

h2,.h2{
    font-size:clamp(4.2rem, 5vw, 6.2rem);
}

h3,.h3{
    font-size: 3.2rem;
}
h4,.h4{
    font-size: 2.4rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--grey);

}
a:hover{
    color: var(--black);
}


ul{
   list-style: none;
}


img{
    width: 100%;
    display: block;
}

.overflow{
    overflow: hidden;
}

.container{
/* padding:0 12.4rem ; */
max-width: 1120px;
margin-left: auto;
margin-right: auto;

}

.container-2{
    max-width: 1120px;
    /* padding:0 19.1rem ; */
    margin-left: auto;
    margin-right: auto;
     
    }

.card-1{
    padding:5.6rem 2.3rem 3.8rem ;
    color: var(--grey);
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    text-align: center;
    gap:1rem ;
    transition: all 500ms ease-in-out;

}

.card-1:hover{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}
.card-1:hover h3{
    color: var(--white);
}

/* card 2 started */

.card-2{
    max-width: 35.8rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1px solid var(--black);
    
}

.card-2 .head{
    font-size: 1.8rem;
    font-style: normal;
      font-weight: 500;

}

.card-2 .loc{
    display: flex;
    gap: 0.4rem;
    justify-content: start;
    align-items: center; 
    font-size: 16px;
font-style: normal;
font-weight: 500;
}

.card-2 .sub{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
color: #1E1E1E;
}
.card-2 .card-2-content ul {
    width: 100%;
}

.card-2 .card-2-content ul li{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    

}
 

.card-2 .card-2-image{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  

}

.card-2 .card-2-content{
    padding:1.5rem 2.3rem ;
    
    display: flex;
    flex-direction: column;
    justify-content:start;
     align-items: start;
     gap: 1.5rem;


}
.card-2 .card-2-content .btn {
    background: var(--black);
    padding:2rem 0 ;
    text-align: center;
    display: block;
    width: 100%;
    
    
}
.card-2 .card-2-content .btn:hover a{
    color: var(--white);
}

/* card 2 ended */


/* card 3 started */

.card-3-left h3, .card-3-right h3{
    color: var(--black);
    font-size: 2.4rem;

}
 .card-3-left{
    padding: 7.2rem 0 ;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-right:3px solid #E0E0E0 ;
    border-bottom:3px solid #E0E0E0 ;
    text-align: center;
}

  .card-3-right{
    padding: 7.2rem 0 ;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* border-left:1px solid #E0E0E0 ; */
    border-bottom:3px solid #E0E0E0 ;
    text-align: center;
}







/* card 3 ended */

/* card 4 started */
.card-4{
    margin: 0 auto;
    max-width: 74rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.card-4 .card-4-img{
    max-width: 26.4rem;
    aspect-ratio: 2/3;
    object-fit: contain;
}

.card-4 .card-4-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.4rem;
}
.card-4 .card-4-content h3{
    font-size:2rem ;
}


/* card 4 ended */

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading{
    margin: 0 auto;
    text-align: center;
    max-width: 93rem;
    margin-bottom: 3.6rem;
}


/* navbar started */
.header{
     padding-top: 2rem;
     padding-bottom: 3.2rem;
}

.header .container img{
    max-width:13.9rem ;
    max-height: 2.4rem ;
}



.navbar .navbar-list{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5.8rem ;
}

.nav-btn-item{
    display: flex;
    align-items: center;

    gap: 2.3rem;
    
}

.nav-btn-item .nav-btn{
    padding: 1.6rem 2.6rem;
    background-color: var(--black);
    color: var(--white);
}

.navbar-link:link, .navbar-link:visited{
    display: inline-block;
    font-size: 1.3rem;
    
    transition: all 0.3s ease;
}

.navbar-link:hover{
    color: var(--black);
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-navbar-btn .mobile-nav-icon{
width: 4rem;
height: 4rem;
color: var(--black);
}




/* navbar ended */


/* hero banner started */

.hero-banner{
padding-bottom: 10.2rem;



}



.hero-banner .container {
    position: relative;
}

.hero-banner .container .hero-banner-flex{
display: grid ;
grid-template-columns: 1.5fr 1fr;




}

.hero-banner-flex .hero-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    gap: 2.1rem;
    margin-top: 8rem;
    
}
.hero-banner-content .small{
    font-size: clamp(4rem, 3vw, 5.2rem);
 font-weight: 700;
 text-transform:none;
 color: var(--black);
}
.hero-banner-content h1{
    animation:updown  2s ease-in  infinite;
}
 .searchbox{
    padding: 2.5rem 2.5rem;
    max-width: 60%;
    
    background-color:white;
    position: absolute;
    top: 60%;
    left:5rem;
    z-index: 22;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr) 0.5fr ;
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 
    0, 0.37);

}

.searchbox .searchbox-item:not(:last-of-type)::after{
    
 content: "";
 width: 1px;
 height:2.4rem ;
background: var(--grey);
position: absolute;
top: 50%;

transform: translateY(-50%);


}



.searchbox .searchbox-item{

/* display: inline-block; */
 
    
}
.searchbox .searchbox-item input{
    border: 1px solid transparent;
    display: inline-block;
    width: 90%;
    padding: 1rem 0;
    
}

.searchbox .searchbox-item .list-top{
    color: var(--grey);
    font-size: 1.4rem;  
     


}
.searchbox .searchbox-item .list-bottom{
 font-size: 2rem;
 font-weight: 700;
 color: var(--black); 
}

.searchbox .search-btn{
    padding: 2rem;
    max-width: 6.5rem;
    aspect-ratio: 1/1;
    background-color: var(--black);
    color: var(--white);

}
.searchbox .search-btn img{
    max-width: 2.4rem;
      display: inline-block;
    aspect-ratio: 1/1;
}
.hero-banner-image{

    position: relative;
  
}

.hero-banner-image .main-img{
    max-width: 100%;
    
}

.hero-banner-image .eclipse-1{
    max-width: 8.8rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
   

}





/* hero banner ended */


/* service section stated */
    
.services{
padding-top: 10.2rem;
padding-bottom: 10.2rem;
}

.service-card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.2rem ;
}






/* service section ended*/



/* about Us started */


.about{
    padding-top:18.4rem ;
    padding-bottom: 10.2rem;
}

.about .container .about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14rem;

    
}

.about-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap:2.2rem ;
    
}
.about-image{
    flex-basis: 50%;
    position: relative;
    z-index: 3;
}
.about-image .eclipse-2{
    position: absolute;
    top:0;
    left: 100% ;
    transform: translateX(-50%) translateY(-50% ) ;
    z-index: -1;
    
}  



.about-image .eclipse-3{
    position: absolute;
    bottom: 40%;
    right: 100%;
    transform: translateY(50%) translateX(50%);
    z-index: -1;
    
}
.about-content a{
padding: 2rem 2.2rem;
color: var(--white);
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px;
background-color: var(--black);
display: inline-block;


 
}






/* about us ended */






/* property started */

.property{
    padding-bottom: 10.2rem;
}
.property-card-slider{

}








/* property ended */


/* how it works started */

.works{
    padding-bottom: 10.2rem;
}

.works .work-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.work-cards > :nth-last-child(1),
.work-cards > :nth-last-child(2) {
    border-bottom: none;

}




/* how it work ended */

/* testimonials started */

.testimonials{
padding-bottom: 10.2rem;


}






/* testimonials endded */

/* partner started */

.partner{
    padding-bottom: 10.2rem;
}
.partner-wrapper-container{
    width: 100%;
}

.partner-wrapper{

   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8rem;
   
    
}
.partner-wrapper .partner-wrapper-content{
flex-basis: 50%;
display: flex;
flex-direction: column;
justify-content: start;
/* align-items:  center; */
gap:1.8rem ;


}

.partner-wrapper.partner-wrapper-slide{
/* flex-basis: 50%; */
}

.partner-wrapper .partner-wrapper-image{
  
    position: relative;
    

}
.partner-wrapper .partner-wrapper-image img{
    mix-blend-mode: luminosity;
    aspect-ratio: 2/3;
    object-fit: contain;
    
}
.partner-wrapper .partner-wrapper-image .img-desc{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}

.img-desc h3{
    color: var(--white);
}


.partner-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    display: block;
}

.partner-btn .partner-btn-1,.partner-btn .partner-btn-2{
    border: 1px solid var(--black);
    border-radius: 1px;
    padding: 2rem 3.2rem;
    font-size: 1.4rem;
    font-weight: 300;

}
.partner-btn .partner-btn-1{
 background: var(--white);
color:var(--black) ;

}
.partner-btn .partner-btn-2{
background: var(--black);
color: var(--white);
padding-left: 4.9rem ;
padding-right: 4.9rem;
}









/* partner endned */


/* newsletter started */

.newsletter{
    margin-top: 16.7rem;
   
    background-color: var(--black);
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.newsletter .newsletter-image{

    flex-basis:50%;

    
}
.newsletter .newsletter-image img{
    margin-top: -19.7rem;
    
}

.newsletter .newsletter-content{
flex-basis: 50%;
margin-left: -5vw;
padding-right: 9.3rem;
display: flex;
flex-direction: column;
gap: 1rem;


}

.newsletter .newsletter-content h2{
    color: var(--white);
    font-size: 4.6rem;
}

.newsletter .newsletter-content .form{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.newsletter .newsletter-content .form input{
    flex-basis: 90%;
    padding: 2.4rem 0 2.4rem 2.6rem;
    background: var(--grey);
    display: block;
    border: 1px solid transparent !important;
    font-size: 1.6rem;
    color: var(--white);
}

.newsletter-content .form button{
 padding: 1.3rem 2.2rem;
    background: var(--white);
    border: 1px solid transparent !important;
    cursor: pointer;
}




/* news letter ended */



/* footer started */

.footer{
    background-image: url("./images/footer-img.png");
 background-size: cover;
 background-repeat: no-repeat;
 mix-blend-mode: luminosity;
 position: relative;
 


}

.footer::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
   
    
    background: #1c1c1cc7;

    
    
}



.footer .footer-wrapper{
 
    padding:7.6rem 9.3rem ;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    gap:6.4rem ;
    
   
}

.footer-wrapper .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    
}
.footer-wrapper .footer-content P{
    color: var(--white);
}


.footer-content .social{
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 2rem;
}

.footer-wrapper .footer-list h4{
    font-size: 26px;
    color: var(--white);
}
.footer-wrapper .footer-list ul{
    display: flex;
    flex-direction: column;
    gap:2rem;
    
}

.footer-wrapper .footer-list a{
    color: var(--white);
}

.footer-wrapper .footer-list{
    display: flex;
    flex-direction: column;
    gap:2.8rem ;
}




/* footer ended */




/* animation started*/
@keyframes updown {
    0% {
      /* Initial styles */
      transform: translateY(0);
    }
    50% {
      /* Styles midway through the animation */
      transform: translateY(-1rem);
    }
    100% {
      /* Final styles */
      transform: translateY(0);
    }
  }




/* animation ended */